{% extends 'base.html' %}
{% block body %}
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ book.img }}" alt="..." /></div>
                    <div class="col-md-6">
                        {# <div class="small mb-1">SKU: BST-498</div> #}
                        <h1 class="display-5 fw-bolder">{{ book.name }}</h1>
                        <div class="fs-5 mb-5">
                            {% if sale %}
                            <span class="text-decoration-line-through">{{ book.price }}$</span>
                            <span>{{ book.sale_price }}$</span>
                            {% else %}
                            <span>{{ book.price }}$</span>
                            {% endif %}
                        </div>
                        <p class="lead">{{ book.desc }}</p>
                        <div class="d-flex">
                            {# <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> #}
                            <a href="{{url_for('main.add_to_library', name=book.name, author=book.author)}}"
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                {% if not book.owned %}
                                <i class="bi-cart-fill me-1"></i>
                                {% if book.price %}
                                Buy
                                {%else%}
                                Add to library fo FREE!
                                {% endif %}
                                {% else %}
                                Read
                                {% endif %}
                            </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Related items section-->
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4">Related products</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for book in related_books %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            {% if sale %}
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            {% endif %}
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ book.img }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ book.name }}</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        {% for _ in rating %}
                                        <div class="bi-star-fill"></div>
                                        {% endfor%}
                                    </div>
                                    <!-- Product price-->
                                    {% if sale %}
                                    <span class="text-muted text-decoration-line-through">{{ book.price }}$</span>
                                    {{ book.sale_price }}$
                                    {% else %}
                                    {{ book.price }}
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">{% if book.price %}Add to cart{% else %}Add to library{% endif %}</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
        </section>
{% endblock %}