{% extends 'base.html' %}
{% block title %}
{{ profile }}
{% endblock %}
{% block center_text%}
{% if not index %}
{% if not family_books %}
<h1 class="display-4 fw-bolder">Enjoy your books!</h1>
{% endif %}
{% else %}
{% if current_user.is_authenticated%}
<h1 class="display-4 fw-bolder">Welcome {{current_user.name}}!</h1>
{% else %}
<h1 class="display-4 fw-bolder">Library for you and your family!</h1>
{% endif %}
<p class="lead fw-normal text-white-50 mb-0">You recently read:</p>
{% endif %}
{% endblock %}
{% block body %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for book in books %}
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!-- Product image-->
                    {# <img class="card-img-top" src="{{ book.img }}" alt="..." /> #}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ book.book_name }}</h5>
                            <h6 class="fw-bolder">{{ book.book_author }}</h6>
                            <p>Page: {{ book.current_page }}/{{ book.pages }}</p>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                            </div>
                            <!-- Product price-->
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('main.read_book', author=book.book_author, name=book.book_name) }}">Read</a></div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button class="btn btn-outline-dark mt-auto bg-danger" onclick="deleteBook('{{ book.book_author }}', '{{ book.book_name }}')">Remove</button></div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if family_books %}
            {% for user, book in family_books.items() %}
            <h1 class="display-4 fw-bolder">{{ user }}'s books!</h1>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <!-- Product image-->
                    {# <img class="card-img-top" src="{{ book.img }}" alt="..." /> #}
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{ book.book_name }}</h5>
                            <h6 class="fw-bolder">{{ book.book_author }}</h6>
                            <p>Page: {{ book.current_page }}/{{ book.pages }}</p>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                            </div>
                            <!-- Product price-->
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('main.read_book', author=book.book_author, name=book.book_name) }}">Read</a></div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><button class="btn btn-outline-dark mt-auto bg-danger" onclick="deleteBook('{{ book.book_author }}', '{{ book.book_name }}')">Remove</button></div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
{% block scripts %}
<script>
function deleteBook(author, name) {
    fetch(`/library/my_library/${author}/${name}`, {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json'
        }
    }).then(response => {
        if (response.ok) {
            alert("Book removed successfully!");
            location.reload(); 
        } else {
            alert("Failed to remove book.");
        }
    }).catch(error => console.error('Error:', error));
}
</script>
{% endblock %}
{% endblock %}
